.main-div {
    padding: 1rem;
    margin-top: 2%;
    margin-left: 17.5%;
    margin-right: 17.5%;
}

.main-heading {
    text-align: center;
    margin-top: 11.5%;
}

.centre-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#Temp {
    color: aquamarine;
}