body {
    background-color: #8acdef;
    background: linear-gradient(#8acdefe7, #9dcbe28a), url(../images/B1.jpg);
    color: #1572A1;
}

#formDiv {
    background-color: #ffffff82;
}


/* input[type="number"],
textarea {
    background-color: #efdad768;
} */

#btn1 {
    border: 1px solid #1572A1;
    color: #1572A1;
}

#btn1:hover {
    background-color: #1572A1;
    color: aliceblue;
}

.main-div {
    padding: 1rem;
    margin-top: 2%;
    margin-left: 17.5%;
    margin-right: 17.5%;
}

.main-heading {
    text-align: center;
    margin-top: 4%;
}

.warning {
    font-size: 0.8rem;
    color: rgb(184, 78, 78);
}

.centre-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.output-result {
    /* display: flex;
    justify-content: center; */
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.output-result2 {
    /* display: flex;
    justify-content: center; */
    /* padding-top: 1rem; */
    text-align: center;
    font-size: 1.5rem;
}


/* #Temp {
    color: aquamarine;
} */

.footer {
    padding: 3% 0 0 0;
    text-align: center;
}

.credit {
    display: inline;
    /* font-size: 1rem; */
}