.main-div {
    padding: 1rem;
    margin-top: 2%;
    margin-left: 17.5%;
    margin-right: 17.5%;
}

.main-heading {
    text-align: center;
    margin-top: 5%;
}

.warning {
    font-size: 0.8rem;
    color: rgb(184, 78, 78);
}

.centre-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.output-result{
    /* display: flex;
    justify-content: center; */
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}
.output-result2{
    /* display: flex;
    justify-content: center; */
    /* padding-top: 1rem; */
    text-align: center;
    font-size: 1.5rem;
}

/* #Temp {
    color: aquamarine;
} */

.footer{
    padding: 5% 0 0 0;
    text-align: center;
}

.credit{
    display: inline;
    /* font-size: 1rem; */
}